# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenvs
env/
venv/
.venv/

# IDEs
.vscode/
.idea/

# Build
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Ignore the 'Studies' directory and all its contents
Studies/

# Secrets
.env
